body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/background/background.jpg'); /* Hintergrundbild */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.player-hand {
    display: flex;
    justify-content: center; /* Zentriere die Karten horizontal */
    align-items: center;
    position: fixed; /* Fixiert die Karten am Bildschirmrand */
    bottom: 20px; /* Karten am unteren Rand des Bildschirms */
    left: 50%; /* Mittig auf der horizontalen Achse */
    transform: translateX(-50%); /* Korrigiert die Position, um genau in der Mitte zu sein */
    gap: 10px; /* Abstand zwischen den Karten */
    width: auto; /* Breite passt sich automatisch an die Anzahl der Karten an */
    padding: 10px;
    z-index: 100; /* Stellt sicher, dass die Karten über anderen Elementen liegen */
    flex-wrap: wrap; /* Stellt sicher, dass die Karten auf einer Linie bleiben, auch wenn es zu viele werden */
}

.card {
    width: 100px;
    height: 150px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.4); /* Leichtes Vergrößern beim Hover */
}
